# Loading the data

Get the S&P500 index data from yahoo finance from 2000-01-03 to 2019-07-02

In [1]:
import pandas as pd
import yfinance as yf

In [2]:
data = yf.download("^GSPC", start='2000-01-03', end='2019-07-02')

[*********************100%***********************]  1 of 1 completed

In [3]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03 00:00:00-05:00,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04 00:00:00-05:00,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05 00:00:00-05:00,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06 00:00:00-05:00,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07 00:00:00-05:00,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000
...,...,...,...,...,...,...
2019-06-25 00:00:00-04:00,2945.780029,2946.520020,2916.010010,2917.379883,2917.379883,3578050000
2019-06-26 00:00:00-04:00,2926.070068,2932.590088,2912.989990,2913.780029,2913.780029,3478130000
2019-06-27 00:00:00-04:00,2919.659912,2929.300049,2918.570068,2924.919922,2924.919922,3122920000
2019-06-28 00:00:00-04:00,2932.939941,2943.979980,2929.050049,2941.760010,2941.760010,5420700000
2019-07-01 00:00:00-04:00,2971.409912,2977.929932,2952.219971,2964.330078,2964.330078,3513270000

In [4]:
data.to_csv('stocks_data.csv')